@font-face {
    font-family: 'geeknight'; /*a name to be used later*/
    src: local('geeknight'), url('../libs/AGAvantGardeCyrBook.ttf'); /* Для остальных браузеров */
}

body{
    margin: 0;
    padding: 0;
    font-family: "geeknight", "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #929292;
    background-color: #fff;
}
a{
    color: #929292;
    text-decoration: none;
}
a:hover{
    color: #474747;
    text-decoration: none;
}
.navbar-inner{
    border-radius: 0;
}
.hero-unit {
    background: none;
}
.hero-unit h1{
    margin: 0 0 10px 0;
    font-size: 60px;
    line-height: 50px;
}
.hero-unit img {
    float: left;
    width: 200px;
    margin: 0 20px 20px 0;
}

#map{height: 100%; width: 70%; margin-bottom: 100px}
h1.space{margin-bottom: 40px; font-size: 40px; line-height: 44px;}
h1.logo{color: #474747}
.project_preview { margin-top: 20px}
.project_preview h2{ font-size: 20px; line-height:24px; }
.project_preview h2 a{color: #474747}
.project_preview img{width: 100px; }
.map_place{position: relative}
#preview_location_map{position: absolute; right: 0; top: 0; width: 20%;
    background: rgba(255, 255, 255, .7); border: #929292; min-height: 50%; padding: 20px; padding-top: 0;}
#preview_location_map img{float: left; width: 200px; margin-right: 20px}
#preview_location_map .location{display: none}
